.custom-input {
    background-color: #252632 !important;
    color: #8E8E8E !important;
    border: 1px solid #444;
  }
  
  .custom-input::placeholder {
    color: #8E8E8E !important;
    opacity: 1;
  }