/* Navbar.css */

.custom-navbar {
  background-color: #1D2130;
  
  padding: 13.5px 22px;
  position: fixed;         
  top: 0;                  
  left: 0;
  right: 0;
  z-index: 1;           
  height: 60px;  
  /* border-bottom: 1px solid white; */
}

/* Logo styling */
.navbar-logo {
  height: 22px;
  object-fit: contain;
}

/* User info (text + avatar) */
.user-info {
  gap: 10px;
}

/* User text */
.navbar-user-text {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
}

/* Avatar */
.navbar-avatar {
  width: 32px;
  height: 32px;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-menu {
  transform: translate(-20px, 10px) scale(0.95);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  pointer-events: none;
}

.dropdown.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0) scale(1);
  pointer-events: auto;
}

/* .dropdown-navbar{
  background: #4D4E5D;
  color: #ffffff;
  border-bottom: 0.5px solid #808080;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  background-color: transparent !important;
  color: inherit !important;
} */

/* Responsive adjustments */
@media (max-width: 575.98px) {
  .navbar-user-text {
    display: none; /* Hide 'User' text on extra small screens */
  }
}
