@font-face {
    font-family: 'NeueHaasGroteskDisplay Pro';
    src: url('/fonts/NeueHaasGroteskDisplayPro.woff2') format('woff2'),
         url('/fonts/NeueHaasGroteskDisplayPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'NeueHaasGroteskDisplay Pro', sans-serif;
  }